<!-- <h2>Users</h2> -->
<section class="users-container">
  <div>
    <button class="btns-main" (click)="addUser()">add user</button>
    <button class="btns-main" (click)="sortByAge()">Sort By Age</button>
    <button class="btns-main" (click)="sortByName()">Sort By Name</button>
  </div>

  <ul class="users">
    <li *ngFor="let user of users">
      <a routerLink="/detail/{{user.id}}">
        {{user.name.first}} {{user.name.last}}
      </a>
      <button class="delete" title="delete user"
      (click)="delete(user)">x</button>
    </li>
  </ul>
</section>