button {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

button:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

input {
    padding: 5px;
}

label {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 5px;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}